* {
    margin: 0px;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar{
    padding: 20px;
}
.navbar-brand span{
    background: linear-gradient(to right, blue, red, purple);
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
