<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Cadastro Turmas</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <nav class="navbar bg-body-tertiary shadow-sm p-3 mb-5 bg-white rounded" style="background-color: #f4f7f8;" >
      <div class="container-fluid">
          <a class="navbar-brand" href="/"> <span>Controle</span> de <strong>Estudantes</strong></a>
        <div class="cadastro">
          <strong>Cadastrar: </strong>
          <a class="btn btn-link" href="/alunos" type="button">Alunos </a>
          <!-- <button class="btn btn-link" href="/ProjetoEstudante/turmas.html" type="button">Sala</a> -->
        </form>
      </div>
  </nav>

    <div class="container">
      <form class="col-sm-4" action="/turmas" method="post">
        <h3>Cadastrar uma nova sala</h3>
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome" >
        </div>
        <div class="mb-3">
          <label for="capacidade" class="form-label">Capacidade</label>
          <input type="text" class="form-control" id="capacidade" name="capacidade">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>

    <style>
      form{
        border: solid 1px rgb(207, 207, 207);
        padding: 20px;
      }
      body .container{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .container{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
</body>
</html>