body{
    padding-bottom: 10px;
}
.navbar-brand span{
    background: linear-gradient(to right, blue, red, purple);
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cadastro{
    display: flex;
    align-items: center;
}

.infoSala{
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.vagas {
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    gap: 5px
}

.filtro{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 25px 5px 0px;
    gap: 5px;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardsAlunos{
    width: 100%;
    gap: 30px;
    justify-content: space-around;
}

.card{
    align-items: center;
    padding: 5px;
}
.card img{
    border-radius: 50%;
    border: solid 2px black;
    width: 130px;
    height: 140px;
}
